{% style %}
  .hero-block-{{ section.id }} {
    background: {{ section.settings.bg-color }};
  }
  .hero-top-bar-block-{{ section.id }} {
    background: {{ section.settings.top_bar_bg-color }};
  }
{% endstyle %}

<div class="hero-block hero-block-{{ section.id }}">
    <div class="hero-innerblock hero-innerblock-{{ section.id }}">
        {% comment %} Top Bar {% endcomment %}
        <div class="hero-top-bar-block hero-top-bar-block-{{ section.id }}">
            {% comment %} Hamburger icons {% endcomment %}
            <div class="hero-top-bar-hambuger-block"></div>
        </div>
        {% comment %} Main Area {% endcomment %}
        {% comment %} bottom Bar {% endcomment %}
    </div>
</div>

{% schema %}
{
    "name": "Hero Section",
    "tag": "section",
    "class": "hero-sc",
    "settings": [
        {
            "type": "color_background",
            "id": "bg-color",
            "label": "Section Background Color"
        },
        {
            "type": "color_background",
            "id": "top_bar_bg-color",
            "label": "Top Bar Background Color"
        },
    ],
    "blocks": [],
    "presets": [
        {
            "name": "Hero Section"
        }
    ]
}
{% endschema %}