{% style %}
  .hero-block-{{ section.id }} {
    background: {{ section.settings.bg-color }};
  }
  .hero-top-bar-block-{{ section.id }} {
    background: {{ section.settings.top_bar_bg-color }};
  }
  .hero-top-bar-text {
    color: {{ section.settings.text_color }};
  }
  {% if section.settings.top_bar_btn_label != blank %}
      .hero-top-bar-btn-block-{{ section.id }} a {
        background-color: {{ section.settings.top_bar_btn_bg_color }};
        color: {{ section.settings.top_bar_btn_label_color }};
      }
      .hero-top-bar-btn-block-{{ section.id }} a:hover {
        color: {{ section.settings.top_bar_hover_btn_label_color }};
      }
      .hero-top-bar-btn-block-{{ section.id }} a::before {
        background-color: {{ section.settings.top_bar_hover_btn_bg_color }};
      }
      .hero-top-bar-btn-block-{{ section.id }} a:hover .btn-arrow svg path {
          fill: {{ section.settings.top_bar_hover_btn_label_color }};
      }
  {% endif %}
{% endstyle %}

<div class="hero-block hero-block-{{ section.id }}">
    <div class="hero-innerblock hero-innerblock-{{ section.id }}">
        {% comment %} Top Bar {% endcomment %}
        <div class="hero-top-bar-block hero-top-bar-block-{{ section.id }}">
            <div class="primary-container">
                <div class="hero-top-bar-innerblock">
                    {% comment %} Hamburger icons {% endcomment %}
                    <div class="hero-top-bar-hambuger-block">
                        <svg class="hamburger" width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 6H19" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M1 1H19" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M1 11H19" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <svg class="close" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 13.9994L13.7279 1.27147" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M1 1L13.7279 13.7279" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    {% comment %} Logo {% endcomment %}
                    {% if section.settings.logo != blank %}
                        <div class="hero-top-bar-logo-block">
                            <a href="{{ shop.url }}">
                                <img
                                    src="{{ section.settings.logo | image_url: width: 150 }}"
                                    alt="{{ shop.name }}"
                                    width=""
                                    height=""
                                >
                            </a>
                        </div>
                    {% endif %}
                    {% comment %} Text {% endcomment %}
                    <div class="hero-top-bar-text-block">
                        <p class="hero-top-bar-text">
                            {{ section.settings.text }}
                        </p>
                    </div>
                    {% comment %} Button {% endcomment %}
                    {% if section.settings.top_bar_btn_label != blank %}
                        <div class="hero-top-bar-btn-block hero-top-bar-btn-block-{{ section.id }}">
                            <a href="{{ section.settings.top_bar_btn_url }}" class="primary-btn">
                            <span class="btn-text" style="position: relative; z-index: 2;">
                                {{ section.settings.top_bar_btn_label }}
                            </span>
                            {% if section.settings.show_top_bar_brn_arrow %}
                                <span class="btn-arrow" style="position: relative; z-index: 2;">
                                    <svg width="26" height="12" viewBox="0 0 26 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.75 4.77298L7.37629e-08 4.77298L-7.37629e-08 6.27298L0.75 6.27298L0.75 4.77298ZM25.2803 6.05331C25.5732 5.76042 25.5732 5.28554 25.2803 4.99265L20.5074 0.21968C20.2145 -0.073213 19.7396 -0.0732131 19.4467 0.21968C19.1538 0.512574 19.1538 0.987447 19.4467 1.28034L23.6893 5.52298L19.4467 9.76562C19.1538 10.0585 19.1538 10.5334 19.4467 10.8263C19.7396 11.1192 20.2145 11.1192 20.5074 10.8263L25.2803 6.05331ZM0.75 6.27298L24.75 6.27298L24.75 4.77298L0.75 4.77298L0.75 6.27298Z" fill="{{ section.settings.top_bar_btn_label_color }}"/>
                                    </svg>
                                </span>
                            {% endif %}
                            </a>
                        </div>
                    {% endif %}

                </div>
            </div>
            {% comment %} Mobile {% endcomment %}
            <div class="hero-top-bar-mobile-block">
                <div class="hero-top-bar-mobile-innerblock"></div>
            </div>
        </div>
        {% comment %} Main Area {% endcomment %}
        {% comment %} bottom Bar {% endcomment %}
    </div>
</div>

{% schema %}
{
    "name": "Hero Section",
    "tag": "section",
    "class": "hero-sc",
    "settings": [
        {
            "type": "header",
            "content": "Top Bar"
        },
        {
            "type": "color_background",
            "id": "bg-color",
            "label": "Section Background Color"
        },
        {
            "type": "color_background",
            "id": "top_bar_bg-color",
            "label": "Top Bar Background Color"
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Top Bar Text Color"
        },
        {
            "type": "inline_richtext",
            "id": "text",
            "label": "Top Bar Text"
        },
        {
            "type": "color",
            "id": "top_bar_btn_bg_color",
            "label": "Button Background Color"
        },
        {
            "type": "color",
            "id": "top_bar_hover_btn_bg_color",
            "label": "hover Button Background Color"
        },
        {
            "type": "color",
            "id": "top_bar_btn_label_color",
            "label": "Button label Color"
        },
        {
            "type": "color",
            "id": "top_bar_hover_btn_label_color",
            "label": "hover Button label Color"
        },
        {
            "type": "checkbox",
            "id": "show_top_bar_brn_arrow",
            "label": "Show Button Arrow"
        },
        {
            "type": "inline_richtext",
            "id": "top_bar_btn_label",
            "label": "Button label"
        },
        {
            "type": "url",
            "id": "top_bar_btn_url",
            "label": "Button Url"
        },
    ],
    "blocks": [],
    "presets": [
        {
            "name": "Hero Section"
        }
    ]
}
{% endschema %}