{% style %}
  .hero-block-{{ section.id }} {
    background: {{ section.settings.bg-color }};
  }
  .hero-top-bar-block-{{ section.id }} {
    background: {{ section.settings.top_bar_bg-color }};
  }
{% endstyle %}

<div class="hero-block hero-block-{{ section.id }}">
    <div class="hero-innerblock hero-innerblock-{{ section.id }}">
        {% comment %} Top Bar {% endcomment %}
        <div class="hero-top-bar-block hero-top-bar-block-{{ section.id }}">
            <div class="primary-container">
                <div class="hero-top-bar-innerblock">
                    {% comment %} Hamburger icons {% endcomment %}
                    <div class="hero-top-bar-hambuger-block">
                        <svg class="hamburger" width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 6H19" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M1 1H19" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M1 11H19" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <svg class="close" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 13.9994L13.7279 1.27147" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M1 1L13.7279 13.7279" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    {% comment %} Logo {% endcomment %}
                    {% comment %} Text {% endcomment %}
                    {% comment %} Button {% endcomment %}
                </div>
            </div>
        </div>
        {% comment %} Main Area {% endcomment %}
        {% comment %} bottom Bar {% endcomment %}
    </div>
</div>

{% schema %}
{
    "name": "Hero Section",
    "tag": "section",
    "class": "hero-sc",
    "settings": [
        {
            "type": "color_background",
            "id": "bg-color",
            "label": "Section Background Color"
        },
        {
            "type": "color_background",
            "id": "top_bar_bg-color",
            "label": "Top Bar Background Color"
        },
    ],
    "blocks": [],
    "presets": [
        {
            "name": "Hero Section"
        }
    ]
}
{% endschema %}