{% style %}
  .product-grid-block-{{ section.id }} {
    background: {{ section.settings.bg-color }};
  }
  .product-grid-innerblock-{{ section.id }} .product-grid-heading {
    color: {{ section.settings.title_color }}
  }
{% endstyle %}

<div class="product-grid-block product-grid-block-{{ section.id }}">
    <div class="primary-container">
        <div class="product-grid-innerblock product-grid-innerblock-{{ section.id }}">
            <h2 class="product-grid-heading">
                {{ section.settings.title }}
            </h2>
            <div class="product-grid-area">
                {% for block in section.blocks %}
                    {% assign card_product = block.settings.select_product %}
                    {% style %}
                      .product-grid-overlay-add-{{ block.id }} {
                        top: {{ block.settings.top_desktop }}%;
                        left: {{ block.settings.left_desktop }}%;
                        transform: translate(-{{ block.settings.top_desktop }}%, -{{ block.settings.left_desktop }}%);
                      }
                      @media only screen and (max-width: 768px) {
                        .product-grid-overlay-add-{{ block.id }} {
                            top: {{ block.settings.top_mobile }}%;
                            left: {{ block.settings.left_mobile }}%;
                            transform: translate(-{{ block.settings.top_mobile }}%, -{{ block.settings.left_mobile }}%);
                        }
                      }
                    {% endstyle %}
                    <div class="product-grid" {{ block.shopify_attributes }}>
                        <div class="product-grid-img">
                            <img
                                src="{{ card_product.featured_image | image_url: width: 433 }}"
                                alt="{{ card_product.featured_image.alt | escape }}"
                                width="433"
                                height="444"
                                loading="lazy"
                            >
                            <span class="product-grid-overlay-add product-grid-overlay-add-{{ block.id }}" onclick="togglePopup('popup-{{ block.id }}')">
                                <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.98047 0.75V9.21154" stroke="black" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
                                    <path d="M0.75 4.98071H9.21154" stroke="black" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                            </span>
                            <div id="popup-{{ block.id }}" class="product-popup">
                                <div class="product-popup-innerblock">
                                    <span class="close-popup" onclick="togglePopup('popup-{{ block.id }}')">
                                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4.24219 4.24279L12.7275 12.7281" stroke="black" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
                                        <path d="M4.24219 12.7278L12.7275 4.24249" stroke="black" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
                                        </svg>
                                    </span>
                                    <div class="product-popup-img-content">
                                        <div class="product-popup-img-block">
                                            <img
                                                src="{{ card_product.featured_image | image_url: width: 120 }}"
                                                alt="{{ card_product.featured_image.alt | escape }}"
                                                width="120"
                                                height="140"
                                                loading="lazy"
                                            >
                                        </div>
                                        <div class="product-popup-content-title-price-desc">
                                            <h3 class="product-popup-content-title">{{ card_product.title }}</h3>
                                            <span class="product-popup-content-price">{{ card_product.price | money }}</span>
                                            <div class="product-popup-content-desc">
                                                {{ card_product.content }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
  function togglePopup(popupId) {
    var popup = document.getElementById(popupId);
    var allPopups = document.querySelectorAll('.product-popup');
    
    // Close all other popups first
    allPopups.forEach(function(el) {
      if (el.id !== popupId) {
        el.classList.remove('active');
      }
    });

    if (popup) {
      if (popup.classList.contains('active')) {
        // Closing the popup
        popup.classList.remove('active');
        document.documentElement.style.overflow = '';
        document.body.style.overflow = ''; 
      } else {
        // Opening the popup
        popup.classList.add('active');
        document.documentElement.style.overflow = 'hidden';
        document.body.style.overflow = 'hidden';
      }
    }
  }
</script>

{% schema %}
{
    "name": "Product Grid",
    "tag": "section",
    "class": "product-grid-sc",
    "settings": [
        {
            "type": "color_background",
            "id": "bg_color",
            "label": "Background Color",
            "default": "#ffffff"
        },
        {
            "type": "color",
            "id": "title_color",
            "label": "Title Color",
            "default": "#000000"
        },
        {
            "type": "inline_richtext",
            "id": "title",
            "label": "Title"
        }
    ],
    "blocks": [
        {
            "type": "products",
            "name": "Product",
            "settings": [
                {
                    "type": "product",
                    "id": "select_product",
                    "label": "Select Product"
                },
                {
                    "type": "range",
                    "id": "top_desktop",
                    "min": 0,
                    "max": 100,
                    "unit": "%",
                    "step": 1.0,
                    "label": "Top (desktop)",
                    "default": 50
                },
                {
                    "type": "range",
                    "id": "left_desktop",
                    "min": 0,
                    "max": 100,
                    "unit": "%",
                    "step": 1.0,
                    "label": "Left (desktop)",
                    "default": 50
                },
                {
                    "type": "range",
                    "id": "top_mobile",
                    "min": 0,
                    "max": 100,
                    "unit": "%",
                    "step": 1.0,
                    "label": "Top (mobile)",
                    "default": 50
                },
                {
                    "type": "range",
                    "id": "left_mobile",
                    "min": 0,
                    "max": 100,
                    "unit": "%",
                    "step": 1.0,
                    "label": "Left (mobile)",
                    "default": 50
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Product Grid"
        }
    ]
}
{% endschema %}